<div class="bs-example" style="margin-bottom: 20px;">
  <form {{action "sendFormTweets" on="submit"}} class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="exampleInputAmount">Amount</label>
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="basic-addon1">#</span> {{input action "preventEnter" on="keyPress" type="text" autocomplete="off" class="form-control" name="tweet" placeholder="tweet" value=tweet}}
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Go!</button>
        </span>
      </div>
    </div>
  </form>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Lista tweetow z paginacja</div>
  <div class="panel-body">
    <div id="data-container"></div>
    <div id="pagination-container"></div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Lista tweetow bez paginacji</div>
  <div class="panel-body">
    <ul id="tweetList" class="list-group">
      {{#each tweets as |tweet|}}
        <li class="list-group-item">{{tweet.text}}
          <br><small>{{tweet.date}}</small></li>
      {{/each}}
    </ul>
  </div>
</div>
