<div class="container">
  <div class="header clearfix">
    <h1 class="text-muted">Wyszukiwarka tweetow</h1>
  </div>

  <div class="row">
    <div class="col-lg-12">
      {{outlet}}
    </div>
  </div>

  <footer class="footer">
    <p>&copy; 2016 Company, Inc.</p>
  </footer>
</div>
